@-webkit-keyframes logo-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes logo-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lexend', sans-serif;
  overflow-x: hidden;
  background: #070707;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  --y-desktop-position: 50px;
  --y-mobile-position: 0;
  --y-position: var(--y-mobile-position);
  top: var(--y-position);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0 40px;
  overflow: hidden;
}

.logo {
  --logo-width: 400px;
  --logo-scale-mobile: 0.6;
  --logo-scale-desktop: 1.2;
  --logo-scale: var(--logo-scale-mobile);
  --spacing-margin-bottom: 100px;
  --logo-height: 400px;
  display: block;
  position: relative;
  width: var(--logo-width);
  scale: var(--logo-scale);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-animation: logo-animation 2s forwards;
          animation: logo-animation 2s forwards;
}

h1 {
  --h1-desktop-font-size: 3rem;
  --h1-mobile-font-size: 1rem;
  --h1-font-size: var(--h1-mobile-font-size);
  font-size: var(--h1-font-size);
  color: #9e3dee;
  -webkit-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
}

li {
  --mobile-font-size: 0.8rem;
  --desktop-font-size: 1.4rem;
  --li-font-size: var(--mobile-font-size);
  --li-margin-bottom-mobile: 10px;
  --li-margin-bottom-desktop: 40px;
  --li-margin-bottom: var(--li-margin-bottom-mobile);
  color: #fd4cb9;
  font-size: var(--li-font-size);
  -webkit-transition: font-size 0.2s ease, margin 0.2s ease;
  transition: font-size 0.2s ease, margin 0.2s ease;
  line-height: 1.9rem;
}

li:not(:last-child) {
  margin-bottom: var(--li-margin-bottom);
}

section {
  --mobile-margin-bottom: 20px;
  --desktop-margin-bottom: 50px;
  --section-margin-bottom: var(--mobile-margin-bottom);
  margin-bottom: var(--section-margin-bottom);
}

@-webkit-keyframes section-animation {
  from {
    -webkit-transform: translateX(var(--starting-section-position));
            transform: translateX(var(--starting-section-position));
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(var(--goalSectionPosition));
            transform: translateX(var(--goalSectionPosition));
    opacity: 100;
  }
}

@keyframes section-animation {
  from {
    -webkit-transform: translateX(var(--starting-section-position));
            transform: translateX(var(--starting-section-position));
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(var(--goalSectionPosition));
            transform: translateX(var(--goalSectionPosition));
    opacity: 100;
  }
}

.main-section-wrapper {
  --starting-section-position: -3000px;
  --main-section-wrapper-left: 100px;
  --goal-section-position: 0;
  --mobile-y-position: 350px;
  --y-desktop-position: 400px;
  --y-position: var(--mobile-y-position);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: var(--y-position);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-name: section-animation;
          animation-name: section-animation;
}

@media (min-width: 1001px) and (max-width: 1920px) {
  .logo {
    --logo-width: 400px;
    --logo-scale: 1.2;
    --spacing-margin-bottom: 100px;
  }
  h1 {
    --h1-font-size: 3rem;
  }
  li {
    --li-font-size: 1.4rem;
    --li-margin-bottom: 40px;
  }
  section {
    --section-margin-bottom: var(--desktop-margin-bottom);
  }
  .main-section-wrapper {
    --y-position: var(--y-desktop-position);
  }
  .logo-container {
    --y-position: var(--y-desktop-position);
  }
}

@media (min-width: 1921px) {
  .logo {
    --logo-width: 400px;
    --logo-scale: 1.2;
    --spacing-margin-bottom: 100px;
  }
  h1 {
    --h1-font-size: 3rem;
  }
  li {
    --li-font-size: 1.4rem;
    --li-margin-bottom: 40px;
  }
  section {
    --section-margin-bottom: 100px;
  }
}

strong {
  outline-style: solid;
  outline-width: 2px;
  padding: 4px;
  border-radius: 10px;
  -webkit-transition: border-radius 0.2s ease, outline 0.2s ease, background-color 0.2s ease, color 0.2s ease;
  transition: border-radius 0.2s ease, outline 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

strong:hover {
  color: #070707;
  outline-width: 0px;
  border-radius: 10px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #fd4cb9;
}

.logo:hover {
  cursor: pointer;
}
