@-webkit-keyframes logo-animation {
  from {
    margin-top: -2000px;
  }
  to {
    margin-top: 80px;
  }
}

@keyframes logo-animation {
  from {
    margin-top: -2000px;
  }
  to {
    margin-top: 80px;
  }
}

@-webkit-keyframes section-animation {
  from {
    margin-left: -3000px;
  }
  to {
    margin-left: 0;
  }
}

@keyframes section-animation {
  from {
    margin-left: -3000px;
  }
  to {
    margin-left: 0;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lexend', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  background: #070707;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1000px) {
  .logo {
    display: block;
    margin-top: -2000px;
    position: relative;
    background-image: url("/Clipboard_History_App_Name.png");
    background-size: 400px;
    width: 400px;
    height: 400px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-animation-name: logo-animation;
            animation-name: logo-animation;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  h1 {
    font-size: 2rem;
    color: #9e3dee;
    -webkit-transition: font-size 0.2s ease;
    transition: font-size 0.2s ease;
  }
  li {
    color: #fd4cb9;
    font-size: 1.2rem;
    margin-bottom: 40px;
    line-height: 1.9rem;
    -webkit-transition: font-size 0.2s ease, margin 0.2s ease;
    transition: font-size 0.2s ease, margin 0.2s ease;
  }
  section {
    margin-bottom: 100px;
  }
  .main-section-wrapper {
    margin-left: -3000px;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-name: section-animation;
            animation-name: section-animation;
  }
}

@media (min-width: 1000px) {
  .logo {
    display: block;
    margin-top: -2000px;
    position: relative;
    background-image: url("/Clipboard_History_App_Name.png");
    background-size: 400px;
    width: 400px;
    height: 400px;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    margin-bottom: 100px;
    -webkit-animation-name: logo-animation;
            animation-name: logo-animation;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  h1 {
    font-size: 3rem;
    color: #9e3dee;
    -webkit-transition: font-size 0.2s ease;
    transition: font-size 0.2s ease;
  }
  li {
    color: #fd4cb9;
    font-size: 1.4rem;
    margin-bottom: 40px;
    -webkit-transition: font-size 0.2s ease, margin 0.2s ease;
    transition: font-size 0.2s ease, margin 0.2s ease;
  }
  section {
    margin-bottom: 100px;
  }
  .main-section-wrapper {
    margin-left: -3000px;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-animation-name: section-animation;
            animation-name: section-animation;
  }
}

strong {
  outline-style: solid;
  outline-width: 2px;
  padding: 4px;
  border-radius: 10px;
  -webkit-transition: border-radius 0.2s ease, outline 0.2s ease, background-color 0.2s ease, color 0.2s ease;
  transition: border-radius 0.2s ease, outline 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

strong:hover {
  color: #070707;
  outline-width: 0px;
  border-radius: 10px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #fd4cb9;
}

.logo:hover {
  cursor: pointer;
}
