$goalPosition: 80px;
$startingPosition: -2000px;
$startingSectionPosition:-3000px;
$goalSectionPosition: 0;
@keyframes logo-animation {
    from{
        margin-top: $startingPosition;
    }
    to{
        margin-top: $goalPosition;
    }
}
@keyframes section-animation {
    from{
        margin-left: $startingSectionPosition;
    }
    to{
        margin-left: $goalSectionPosition;
    }
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
    overflow-x: hidden;
    
}

.wrapper{
    background:  #070707;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1000px)
{
        
    .logo{
        display:block;
        margin-top: $startingPosition;
        position: relative;
        height: 400px;
        transform: scale(0.7);
        transition: transform 0.2s ease;
        animation-name:  logo-animation;
        animation-duration: .8s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-fill-mode: forwards;
    }

    h1{
        font-size: 2rem;
        color: rgb(158, 61, 238);
        transition: font-size 0.2s ease;
    }

    li{
        color: rgb(253, 76, 185);
        font-size: 1.2rem;
        margin-bottom: 40px;
        line-height: 1.9rem;
        transition: font-size 0.2s ease, margin 0.2s ease;
    }

    section{

        margin-bottom: 100px;

    }
    .main-section-wrapper{
        margin-left: $startingSectionPosition;
        animation-delay: 0.5s;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-fill-mode: forwards;
        animation-name: section-animation;
        
    }
}

@media (min-width: 1001px)
{
        
    .logo{
        display:block;
        margin-top: $startingPosition;
        position: relative;
        // background-image: url("/Clipboard_History_App_Name.png");
        // background-size: 400px;
        width: 400px;
        // height: 400px;
        transform: scale(1.2);
        // background-repeat: no-repeat;
        transition: transform 0.2s ease;
        margin-bottom: 100px;
        animation-name:  logo-animation;
        animation-duration: .8s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-fill-mode: forwards;
    }

    h1{
        font-size: 3rem;
        color: rgb(158, 61, 238);
        transition: font-size 0.2s ease;
    }

    li{
        color: rgb(253, 76, 185);
        font-size: 1.4rem;
        margin-bottom: 40px;
        transition: font-size 0.2s ease, margin 0.2s ease;
    }

    section{
        margin-bottom: 100px;
        

    }
    .main-section-wrapper{
        margin-left: $startingSectionPosition;
        animation-delay: 0.5s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-name: section-animation;
        
    }
}

strong{
    outline-style: solid;
    outline-width: 2px;
    padding: 4px;
    border-radius: 10px;
    transition: border-radius 0.2s ease, outline 0.2s ease,
    background-color 0.2s ease, color 0.2s ease;
}

strong:hover{
    color: #070707;
    outline-width: 0px;
    border-radius: 10px;
    transform: scale(1.1);
    background-color: rgb(253, 76, 185) ;
}
.logo:hover{
    cursor: pointer;
}